<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Pet Assess Login</h1>
    <p class="lead">Login using Social Media account</p>
  </div>
</div>
<div class="container">
  <div id="login" class="row">
    <div class="col-md-2"></div>
    <div class="col-md-5 text-center">
      <div *ngIf="!user" class="card">
        <h6 class="card-header">
          Pet Assess Login
        </h6>
        <div class="card-body">
          <!--<h4 class="card-text">Not signed in</h4>-->
            <form>
              <div class="form-group">
                <label for="emailAdd">Email address</label>
                <input type="email" class="form-control" id="emailAdd" aria-describedby="emailHelp"
                  placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                  else.</small>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword" placeholder="Password">
              </div>
            </form>
          <h5 class="card-text">Sign up with</h5>
            <button class="btn btn-md btn-primary btn-social-icon" (click)="signInWithGoogle()"><span
                class="fab fa-google"></span></button>
            <button class="btn btn-md btn-primary btn-social-icon" (click)="signInWithFB()"
              style="margin-left: 30px;"><span class="fab fa-facebook"></span></button>
            </div>
    </div>
      <div *ngIf="user">
        <img src="{{ user.photoUrl }}">
        <div>
          <h4>{{ user.name }}</h4>
          <p>{{ user.email }}</p>
        </div>
        <div>
          <button class="btn btn-md btn-primary" (click)="signOut()">Sign Out</button>
        </div>
    </div>
  </div>
</div>
<div *ngIf="user" id="sammyid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7 text-center">
      <h4> Sammy loves his Coffee</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
      <img src="../assets/hawaiian-vanilla-12oz_grande_10a06531-0cec-4cbc-9b77-f8860e4fa57f.png">
    </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>